<section id='left'>a</section>
<section id='homepage'>
<h3 id='myname'>Matteo Manzo</h3>
  <section id='homepage-container'>
    <h1>Hello, Rails</h1>

  <button id='blog-button'><span><%= link_to 'Blog', controller: 'articles' %></button>
  </section>
</section>
<section id='right'>a</section>